<header>
  <nav>
    <ul>
      <li id="companyLogo">
        <a [routerLink]="['/home']">
          <img src="../assets/Logo_green.svg" height="60px" width="60" />
        </a>
      </li>
      <li>
        <a [routerLink]="['/home']">
          Home
        </a>
      </li>
      <li id="navDivider">
      </li>
      <li id="login" *ngIf="isAuthenticated == false">
        <a (click)="login()"> 
          Log In
        </a>
      </li>
      <li id="login" *ngIf="isAuthenticated == true">
        <a (click)="router.navigate(['/clubs']);"> 
          Meine Vereine
        </a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>